.summaryCountBox {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
  border-radius: 5px;
}

.accordianSummaryBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  width: 100%;
}

.accordianCountsWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.5rem;
}

:root {
  --outlined-infoButton-disabled-color: #90a0d3bb;
  --outlined-infoButton-color: #5fbad6;
  --outlined-danger-disabled-color: #d64d4dbb;
  --outlined-danger-color: #ac6767;
}
